[Desktop Entry]
Name=Password Store
Exec=passwordstore
Icon=io.github.noobping.PasswordStore
Terminal=false
Type=Application
Categories=Utility;
Keywords=GTK;
StartupNotify=true
DBusActivatable=false
