*.AppImage
*.desktop
*.lock
*builder/
*cache/
*og.txt
.cargo*
.flatpak/*
/build-dir/
/builddir/
/.vs/
/out/
/CMakeUserPresets.json
AppDir/
excludelist
patches/
resources.xml
squashfs*
target/
vendor/
po/en.po
po/keycord.pot
po/POTFILES.in
